::-moz-selection{background:rgba(255,255,0,0.3);color:#000}
::selection{background:rgba(255,255,0,0.3);color:#000}

a::-moz-selection{background:rgba(255,255,0,0.3);color:#0645ad}
a::selection{background:rgba(255,255,0,0.3);color:#0645ad}

.hidden {
  display: none;
}

.clear-fix {
  clear: both;
  height: 0;
}

.right {
  float: right;
}

.btn {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  margin-left: 9px;
  color: #555;
}
.btn:first-child {
  margin-left: 0;
}
a.btn:hover {
  color: black;
}

.label {
  display: inline-block;
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  background-color: #555;
  color: white !important;
  padding: 0.5em 1em 0.3em;
  margin-left: 2px;
  font-size: 11px;
  font-family: Droid Sans;
}
.label.active {
  background-color: black;
}
.label.large {
  font-size: 24px;
}
a.label:hover {
  background-color: #222;
}

.flying {
  position: absolute;
}
.flying.right {
  right: 0;
}

.index {
  display: none;
}

.indexed .index {
  display: inline;
}

textarea:focus, input:focus {
    outline: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
}

#container {
  width: 84em;
  height: 100%;
  margin: 0 auto;
}

#input-wrap {
  margin: 0 45em 0 1em;
  position: absolute;
  top: 3.5em;
  left: 0;
  right: 0;
  bottom: 0;
}

#input-md {
  padding: 0;
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
}

#view-wrap {
  width: 44em;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  -webkit-box-shadow: -2px 0 30px 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: -2px 0 30px 0 rgba(0, 0, 0, 0.25);
          box-shadow: -2px 0 30px 0 rgba(0, 0, 0, 0.25);
}

#controls {
  margin: 0 45em 0 1em;
  padding: 1em 0 1em 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  z-index: 2;
  border-bottom: 1px solid #ccc;
}

#modes {
  z-index: 3;
  clear: both;
  margin-top: 1em;
  opacity: 0.8;
  -webkit-transition: opacity 0.1s linear;
     -moz-transition: opacity 0.1s linear;
      -ms-transition: opacity 0.1s linear;
       -o-transition: opacity 0.1s linear;
          transition: opacity 0.1s linear;
}
#modes.hidden {
  display: block;
  opacity: 0;
}

#link-b64-text {
  border: 1px solid #aaa;
}

#drag-n-drop-wrap {
  top: 12em;
  left: 50%;
}
#drag-n-drop-text {
  margin-left: -50%;
  opacity: 0.3;
  text-shadow: 0 1px 0 black;
}

#toc-wrap {
  margin: 1em;
  padding: 1em;
  min-height: 24px;
  background-color: #f0f0f0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#toc {
  font-size: 0.6em;
  max-height: 720px;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
     -moz-transition: max-height 0.5s ease-in-out;
      -ms-transition: max-height 0.5s ease-in-out;
       -o-transition: max-height 0.5s ease-in-out;
          transition: max-height 0.5s ease-in-out;
}
#toc.hidden {
  display: block;
  visibility: visible;
  max-height: 0;
}
#toc, #toc a, #toc a:active, #toc a:visited {
  color: #666;
}
#toc a:hover {
  color: #333;
}
#toc ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* CodeMirror */
#input-wrap .CodeMirror, 
#input-wrap .CodeMirror-scroll {
  height: 100%;
}
#input-wrap .CodeMirror pre {
  font-size: 12px;
  font-family: monospace;
}
#input-wrap .CodeMirror-lines {
  padding-left: 0;
  padding-top: 1em;
}
#input-wrap .CodeMirror-focused div.CodeMirror-selected {
  background: rgba(255, 255, 0, 0.3);
}

/* Print media */
@media print {
  html, body {
    height: auto !important;
    overflow: auto !important;
  }
  #view-wrap {
    width: auto !important;
    overflow: auto !important;
    position: relative !important;
    bottom: auto !important;
  }
  #controls, #input-wrap {
    display: none !important;
  }
  #toc-wrap {
    padding: 0 !important;
    margin: 0 !important;
  }
  .btn {
    display: none !important;
  }
}
