::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000000;
}
::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000000;
}
a::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}
a::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb:vertical {
  border-left: 2px solid rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb:vertical:hover {
  border-left: 2px solid rgba(0, 0, 0, 0.4);
}

.logo {
  font-size: 40px;
}
.hide,
.hidden {
  display: none;
}
.clear-fix {
  clear: both;
  height: 0;
}
.right {
  float: right;
}
.btn {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  margin-left: 9px;
  color: #888;
}
.btn:first-child {
  margin-left: 0;
}
a.btn:hover {
  color: #444;
}
.transparent {
  opacity: 0 !important;
}
.index {
  display: none;
}
.indexed .index {
  display: inline;
}
textarea:focus,
input:focus {
  outline: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  font-size: 12px;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
}
#input-wrap {
  font: 12px/1.2 Courier, monospace;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 0;
  -webkit-transition: min-width 0.5s ease;
  -moz-transition: min-width 0.5s ease;
  -ms-transition: min-width 0.5s ease;
  -o-transition: min-width 0.5s ease;
  transition: min-width 0.5s ease;
}
#input-md {
  padding: 0;
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
  background: none;
}
#expand-input,
#expand-view {
  text-align: center;
  font-size: 4em;
  z-index: 10;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  width: 1em;
}
#expand-input:hover,
#expand-view:hover {
  opacity: 0.4;
}
#expand-input:before,
#expand-view:before {
  position: absolute;
  top: 50%;
}
#expand-input {
  left: 0;
}
#expand-input:hover ~ #view-wrap {
  left: 10%;
}
#expand-input:before {
  content: '❯';
  right: 0.1em;
}
#expand-view {
  display: none;
}
#expand-view:before {
  content: '❮';
  left: 0.1em;
}
#view-wrap {
  z-index: 3;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-box-shadow: -2px 0 30px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -2px 0 30px 0 rgba(0, 0, 0, 0.25);
  box-shadow: -2px 0 30px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
}
#view {
  padding: 0 2em 2em;
  margin: auto;
  width: 42em;
}
#modes {
  z-index: 3;
  clear: both;
  margin: 1em 1em 0 0;
  opacity: 0.8;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -ms-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
#modes.hidden {
  display: block;
  opacity: 0;
}
#drag-n-drop-wrap {
  top: 12em;
  left: 50%;
}
#drag-n-drop-text {
  margin-left: -50%;
  opacity: 0.3;
  text-shadow: 0 1px 0 black;
}
#settings {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1em;
  z-index: 3;
}
#settings > a { opacity: 0.2; }
#settings > a:hover { opacity: 1; }
#settings > .popup {
  position: absolute;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 9px -3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 9px -3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 9px -3px rgba(0, 0, 0, 0.6);
  font-family: sans-serif;
}
#settings > .popup h1 {
  font-size: 1em;
  background: #eee;
  margin: 0;
  padding: 1em;
  text-align: center;
}
#settings > .popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#settings > .popup ul li {
  border-bottom: 1px dashed #eee;
}
#settings > .popup ul li a,
#settings > .popup ul li a:visited {
  text-decoration: none;
  padding: 0.4em 1em;
  color: #888;
  display: block;
  cursor: pointer;
}
#settings > .popup ul li a:hover {
  color: #444;
}
#settings > .popup ul li:last-child {
  border-bottom: none;
}
#toc-wrap-wrap {
  margin: 0 2em;
}
#toc-wrap {
  margin: auto;
  width: 40em;
  padding: 1em;
  min-height: 24px;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  opacity: 0.4;
}
body.toc #toc-wrap,
#toc-wrap:hover {
  background-color: rgba(0, 0, 0, 0.05);
  opacity: 1;
}
body.toc #toc {
  max-height: 720px;
}
#toc {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -ms-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
  font-size: 0.6em;
}
#toc,
#toc a,
#toc a:active,
#toc a:visited {
  color: #666;
  text-decoration: underline;
}
#toc a:hover {
  color: #333;
}
#toc ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
/* CodeMirror */
#input-wrap .CodeMirror {
  line-height: 1.3em;
  background-color: transparent;
}
#input-wrap .CodeMirror,
#input-wrap .CodeMirror-scroll {
  height: 100%;
}
#input-wrap .CodeMirror-lines {
  padding: 5em 1em 1em 0;
}
#input-wrap .CodeMirror-focused div.CodeMirror-selected {
  background: rgba(255, 255, 0, 0.3);
}
#input-wrap .CodeMirror-vscrollbar {
  z-index: 1;
}
#textarea-wrap {
  position: relative;
  width: 48em;
  height: 100%;
  margin: auto;
  padding-left: 24px;
}

[class^="uni-"],
[class*=" uni-"] {
  font-size: 24px;
  line-height: 1em;
}
.uni-gear:before {
  content: '⚙';
  font-size: 1.4em;
}
.uni-list:before {
  content: '☰';
}
.uni-number:before {
  content: '#';
}
/* Fullscreen modes */
body.full-view #expand-view:hover ~ #view-wrap {
  left: 10%;
}
body.full-view #expand-input {
  display: block;
}
body.full-view #expand-view {
  display: block;
}
body.full-view #expand-view:before {
  content: '❯';
}
body.full-input #expand-input:hover ~ #view-wrap {
  left: 90%;
}
body.full-input #input-wrap {
  min-width: 100%;
}
body.full-input #view-wrap {
  left: 100%;
}
body.full-input #expand-input {
  left: auto;
  right: 0;
}
body.full-input #expand-input:before {
  content: '❮';
}
body.full-input #expand-view {
  display: none;
}
.scale {
  -webkit-transition: font-size 0.3s, width 0.3s, background-color 0.3s, opacity 0.3s;
  -moz-transition: font-size 0.3s, width 0.3s, background-color 0.3s, opacity 0.3s;
  -ms-transition: font-size 0.3s, width 0.3s, background-color 0.3s, opacity 0.3s;
  -o-transition: font-size 0.3s, width 0.3s, background-color 0.3s, opacity 0.3s;
  transition: font-size 0.3s, width 0.3s, background-color 0.3s, opacity 0.3s;
}
.fade {
  -webkit-transition: background-color 0.3s, opacity 0.3s;
  -moz-transition: background-color 0.3s, opacity 0.3s;
  -ms-transition: background-color 0.3s, opacity 0.3s;
  -o-transition: background-color 0.3s, opacity 0.3s;
  transition: background-color 0.3s, opacity 0.3s;
}
@media only screen {
  .scale {
    font-size: 12px;
  }
  .full-view .scale {
    font-size: 12px;
  }
}
@media only screen and (min-width: 640px) {
  .scale {
    font-size: 14px;
  }
  .full-view .scale {
    font-size: 14px;
  }
}
@media only screen and (min-width: 752px) {
  .scale {
    font-size: 16px;
  }
  .full-view .scale {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1152px) {
  .scale {
    font-size: 12px;
  }
  #expand-input {
    right: 0;
    left: auto;
  }
  #expand-input:hover ~ #view-wrap {
    left: 50em;
  }
  #expand-view {
    display: block;
    width: 24px;
  }
  #view-wrap {
    left: 50em;
  }
  body.full-view #view-wrap {
    left: 0;
  }
  body.full-view #expand-input {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  .scale {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1400px) {
  .scale {
    font-size: 16px;
  }
}
/* Print media */
@media print {
  @page  {
    size: auto;
    margin: 20mm 25mm 20mm 25mm;
  }
  html,
  body {
    height: auto !important;
    overflow: auto !important;
  }
  body {
    font-size: 14pt !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
  }
  #view-wrap {
    width: auto !important;
    overflow: auto !important;
    position: relative !important;
    bottom: auto !important;
    left: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #view {
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
  }
  #view > *:first-child {
    margin-top: 0 !important;
    color: red;
  }
  #input-wrap {
    display: none !important;
  }
  #toc-wrap {
    padding: 0 !important;
    margin: 0 !important;
  }
  .btn {
    display: none !important;
  }
  * {
    background: transparent !important;
    color: black !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid black;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: none;
    padding-right: 1em;
    page-break-inside: avoid;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
